{
  "openapi": "3.0.3",
  "info": {
    "title": "Billivo API",
    "description": "API for creating invoices with header and line items",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.billivo.com/v1",
      "description": "Production server (not defined yet)"
    },
    {
      "url": "https://06nii0nn03.execute-api.eu-west-1.amazonaws.com",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "summary": "Retrieve token",
        "description": "Retrieves token in order to perform all the calls",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice": {
      "post": {
        "summary": "Create a new invoice",
        "description": "Creates a new invoice with header information and line items",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all invoices or specific invoice",
        "description": "Retrieves invoices for a specific user. Can retrieve all invoices or a specific invoice by number.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userEmail",
            "in": "query",
            "required": true,
            "description": "Email of the user whose invoices to retrieve",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "required": false,
            "description": "Specific invoice number to retrieve. If not provided, returns all invoices for the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by invoice status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "sent",
                "paid",
                "overdue",
                "validated",
                "validated_with_errors",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update invoice status",
        "description": "Updates the status of an invoice. Typically used to mark an invoice as validated or sent.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userEmail",
            "in": "query",
            "required": true,
            "description": "Email of the user who owns the invoice",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "invoiceNumber",
            "in": "query",
            "required": true,
            "description": "The invoice number to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvoiceStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication for client credentials (usually client_id and client_secret)."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "UpdateInvoiceStatusRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["sent", "validated", "paid", "cancelled"],
            "description": "New status for the invoice"
          }
        }
      },
      "UpdateInvoiceStatusResponse": {
        "type": "object",
        "required": ["body"],
        "properties": {
          "body": {
            "$ref": "#/components/schemas/Invoice"
          }
        }
      },
      "CreateInvoiceRequest": {
        "type": "object",
        "required": ["header", "items"],
        "properties": {
          "header": {
            "$ref": "#/components/schemas/InvoiceHeader"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceItem"
            },
            "minItems": 1
          }
        }
      },
      "Issuer": {
        "type": "object",
        "required": ["name", "nationalId", "city", "country"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120,
            "example": "Code10 IT"
          },
          "nationalId": {
            "type": "string",
            "maxLength": 20,
            "example": "A12345678"
          },
          "addressStreet": {
            "type": "string",
            "maxLength": 120
          },
          "addressNumber": {
            "type": "string",
            "maxLength": 120
          },
          "postalCode": {
            "type": "string",
            "maxLength": 10
          },
          "city": {
            "type": "string",
            "maxLength": 50
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "ES",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "vatId": {
            "type": "string",
            "maxLength": 20
          },
          "mailAddress": {
            "type": "string",
            "format": "email",
            "maxLength": 120,
            "example": "billing@code10it.com"
          },
          "phoneNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^\\+?[1-9]\\d{1,14}$",
            "example": "+34987654321"
          }
        }
      },
      "InvoiceHeader": {
        "type": "object",
        "required": [
          "invoiceType",
          "paymentTermName",
          "paymentTermDays",
          "paymentType",
          "paymentTypeDescription",
          "dueDate",
          "issuer",
          "taxType",
          "regimeKey",
          "irpf"
        ],
        "properties": {
          "invoiceType": {
            "type": "string",
            "maxLength": 2,
            "minLength": 2,
            "enum": [
              "F1",
              "F2",
              "F3",
              "F4",
              "F5",
              "F6",
              "R1",
              "R2",
              "R3",
              "R4",
              "R5"
            ],
            "description": "FX for Invoices, RX for Corrective (Rectificativas)",
            "example": "F1"
          },
          "invoiceNumber": {
            "type": "string",
            "maxLength": 60,
            "example": "INV-2025-001234"
          },
          "previousInvoiceNumber": {
            "type": "string",
            "maxLength": 60,
            "example": "INV-2025-001199"
          },
          "correctedInvoiceNumber": {
            "type": "string",
            "maxLength": 60,
            "description": "If you are correcting an invoice (invoiceType = R), use this field to reference the original invoice.",
            "example": "INV-2025-001200"
          },
          "correctiveType": {
            "type": "string",
            "enum": ["I", "S"],
            "description": "If you are correcting an invoice (invoiceType = R), use this field to select the corrective type, 'I' to correct by difference and 'S' to correct by substitution.",
            "example": "I"
          },
          "bankName": {
            "type": "string",
            "maxLength": 120,
            "example": "Santander"
          },
          "paymentTermName": {
            "type": "string",
            "maxLength": 255,
            "example": "30 days"
          },
          "paymentTermDays": {
            "type": "integer",
            "format": "int32",
            "example": 30,
            "default": 0
          },
          "paymentType": {
            "type": "string",
            "enum": ["Bank Transfer", "Credit Card", "PayPal", "Cash", "Other"],
            "example": "Bank Transfer"
          },
          "paymentTypeDescription": {
            "type": "string",
            "description": "Additional details about the payment method",
            "example": "ES0012345678901234567890"
          },
          "invoiceDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-09-28T14:38:15.000Z"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "example": "2025-09-28"
          },
          "additionalNotes": {
            "type": "string",
            "maxLength": 300
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "EUR",
            "default": "EUR",
            "description": "ISO 4217 currency code"
          },
          "irpf": {
            "type": "number",
            "minimum": 0,
            "default": 0,
            "format": "decimal"
          },
          "discount": {
            "$ref": "#/components/schemas/Discount"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "issuer": {
            "$ref": "#/components/schemas/Issuer"
          },
          "taxType": {
            "type": "string",
            "description": "Type of tax applicable.",
            "default": "01",
            "maxLength": 2
          },
          "regimeKey": {
            "type": "string",
            "default": "01",
            "description": "Tax regime code. Default is '01' for general regime.",
            "maxLength": 2
          },
          "operationDate": {
            "type": "string",
            "format": "date",
            "example": "2025-08-29"
          },
          "pos": {
            "$ref": "#/components/schemas/POS"
          },
          "currencyExchange": {
            "$ref": "#/components/schemas/CurrencyExchange"
          },
          "customFields": {
            "type": "object",
            "description": "Key-value pairs for custom data. Allows for flexible addition of custom fields.",
            "additionalProperties": {
              "type": "string",
              "maxLength": 255
            },
            "maxProperties": 10,
            "example": {
              "orderReference": "PO-2025-123",
              "salesAgent": "John Doe"
            }
          }
        }
      },
      "Discount": {
        "type": "object",
        "properties": {
          "percentage": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "maximum": 100
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "minimum": 0
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 4217 currency code",
            "default": "EUR"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": ["customerName", "nationalId", "mailAddress"],
        "properties": {
          "customerName": {
            "type": "string",
            "maxLength": 120,
            "example": "ACME Corporation"
          },
          "nationalId": {
            "type": "string",
            "maxLength": 20,
            "example": "B12345678"
          },
          "vatId": {
            "type": "string",
            "maxLength": 20
          },
          "addressStreet": {
            "type": "string",
            "maxLength": 120
          },
          "addressNumber": {
            "type": "string",
            "maxLength": 120
          },
          "postalCode": {
            "type": "string",
            "maxLength": 10
          },
          "city": {
            "type": "string",
            "maxLength": 50
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "ES",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "phoneNumber": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^\\+?[1-9]\\d{1,14}$",
            "example": "+34612345678"
          },
          "mailAddress": {
            "type": "string",
            "format": "email",
            "maxLength": 120,
            "example": "customer@acme.com"
          }
        }
      },
      "InvoiceItem": {
        "type": "object",
        "required": ["name", "unitPrice", "quantity", "vatPercentage"],
        "properties": {
          "itemId": {
            "type": "string",
            "maxLength": 36,
            "description": "Unique identifier for the item - Used to show the item in the invoice in order"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "example": "Professional Services"
          },
          "description": {
            "type": "string",
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": ["Service", "Article"],
            "description": "Type of invoice item",
            "example": "Service"
          },
          "unitPrice": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "example": 150.0
          },
          "quantity": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "example": 2.5
          },
          "vatPercentage": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "maximum": 100,
            "example": 21.0,
            "default": 21.0
          },
          "discountPercentage": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "maximum": 100
          },
          "discountAmount": {
            "type": "number",
            "format": "decimal",
            "minimum": 0
          },
          "totalExcTax": {
            "type": "number",
            "format": "decimal"
          },
          "customFields": {
            "type": "object",
            "description": "Key-value pairs for custom item data. Allows for flexible addition of custom fields.",
            "additionalProperties": {
              "type": "string",
              "maxLength": 255
            },
            "maxProperties": 10,
            "example": {
              "productCode": "SKU-12345",
              "warranty": "2 years",
              "supplier": "ACME Corp"
            }
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "required": ["invoice", "message"],
        "properties": {
          "invoice": {
            "type": "object",
            "$ref": "#/components/schemas/InvoiceHeader"
          },
          "message": {
            "type": "string",
            "example": "Invoice created successfully"
          }
        }
      },
      "POS": {
        "type": "object",
        "description": "Point of Sale (POS) information",
        "properties": {
          "storeId": {
            "type": "string",
            "description": "Store identifier",
            "example": "MAD-01"
          },
          "terminalId": {
            "type": "string",
            "description": "Terminal identifier",
            "example": "T-07"
          },
          "cashierId": {
            "type": "string",
            "description": "Cashier identifier",
            "example": "EMP-045"
          },
          "shift": {
            "type": "string",
            "enum": ["morning", "afternoon", "evening", "night"],
            "description": "Work shift",
            "example": "afternoon"
          }
        }
      },
      "CurrencyExchange": {
        "type": "object",
        "description": "Currency conversion details",
        "properties": {
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "Invoice currency code (ISO 4217)",
            "example": "USD"
          },
          "baseCurrency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "Base currency code",
            "example": "EUR"
          },
          "exchangeRate": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "description": "Applied exchange rate",
            "example": 0.92
          },
          "exchangeRateDate": {
            "type": "string",
            "format": "date",
            "description": "Date when the exchange rate was set",
            "example": "2025-08-20"
          },
          "totalAmountInBaseCurrency": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "description": "Total invoice amount in base currency",
            "example": 111.32
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "description": "The successful response payload for a token retrieval endpoint.",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The **JWT access token** used for authenticating all subsequent resource API calls.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "token_type": {
            "type": "string",
            "description": "Indicates how the access token should be used. Should be **'Bearer'**.",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "format": "int32",
            "description": "The lifetime in **seconds** of the access token.",
            "example": 3600
          },
          "id_token": {
            "type": "string",
            "description": "An **OpenID Connect (OIDC) token** containing claims about the authenticated user.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "refresh_token": {
            "type": "string",
            "description": "A token used to obtain a new access token after the current one expires.",
            "example": "rt_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        },
        "required": ["access_token", "token_type", "expires_in"]
      },
      "TokenErrorResponse": {
        "type": "object",
        "description": "The error response payload for token retrieval.",
        "properties": {
          "error": {
            "type": "string",
            "description": "Type of error.",
            "example": "invalid_grant"
          },
          "error_description": {
            "type": "string",
            "description": "Describes which error has appeared.",
            "example": "Incorrect username or password."
          },
          "code": {
            "type": "string",
            "description": "Error code.",
            "example": "NotAuthorizedException"
          }
        },
        "required": ["error"]
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "example": "Validation failed"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "required": ["header", "items", "status"],
        "properties": {
          "header": {
            "$ref": "#/components/schemas/InvoiceHeader"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceItem"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "validated",
              "paid",
              "overdue",
              "validated_with_errors",
              "cancelled"
            ],
            "description": "Current status of the invoice. 'validated' indicates the invoice has been validated and is ready to be sent.",
            "example": "sent"
          }
        }
      },
      "InvoiceValidationResponse": {
        "type": "object",
        "required": ["invoice", "status"],
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "base64pdf": {
            "type": "string",
            "example": "data:application/pdf;filename=generated.pdf;base64..."
          }
        }
      },
      "InvoiceListResponse": {
        "type": "object",
        "required": ["body"],
        "properties": {
          "body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          }
        }
      }
    }
  }
}
